html, body{
  width: 100%;
  height:100%;
  overflow: hidden;
}

ul{
  list-style-type: none;
}

li {
  float: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
svg {

    /* background-image: url(./background/grid.svg); */
    height: 100%;
    width: 100%;
}
svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

button{
    /* position: relative; */
    max-width: 100%;
    float: none;
    display: block;
    /* background-color : rgb(255, 0, 0); */
}

#container{
    display:flex;
    height: 100%;
}

.sketch{
  background-image: url(./background/grid.svg);
}
#side{
    width: 230px;
    position: relative;
    min-width: 18ex;
}
#main{
    height: 100%;
    z-index: 100;
    flex-grow: 1;
}
#dragbar{
  opacity: 0%;
  width: 20px;
  height:100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

.uk-button{
  padding: 0 10px;
}
.my-drawing{
  width: 100%;
  height: 100%;
}

.retract{
  position: absolute;
  top: inherit;
}
